 <div class="row mb-0">
  <div class="col s12 p-0">
    <ul class="tabs tabs-icon">
      <li class="tab col s3"><a href="#home" class="blue-text"><i class="material-icons">home</i>Home</a></li>
      <li class="tab col s3"><a href="#users" class="blue-text"><i class="material-icons">people</i>Users</a></li>
      <li class="tab col s3"><a href="#about" class="blue-text"><i class="material-icons">info_outline</i>About</a></li>
      <li class="tab col s3"><a href="#credits" class="blue-text"><i class="material-icons">help</i>Credits</a></li>
    </ul>
  </div>
</div>