<div id="home" class="col s12">

</div>

<div id="users" class="col s12">
	
</div>

<div id="about" class="col s12">
	<div class="container">
		<h5 class="center">ABOUT</h5>
		<p style="text-indent:50px">
			<b>Road2Go</b> is a mobile application that can able users to have fast access to less traffic and passable routes around the City of Tuguegarao to avoid roads that are under construction, road-crashed areas and traffic prone areas which might cause casualties and long time and delay for travels. The application also provides information to every individual in the Tuguegarao City for the different locations of relocation areas during catastrophic events such as floods. It will provide the nearest and safest route to relocation areas based on the user’s location for relocation purposes.
		</p>
		<p style="text-indent:50px">
			This mobile application is exclusive for the residents in the City of Tuguegarao and people who are coming in and out in the City.
		</p>
	</div>
</div>

<div id="credits" class="col s12">
	<div class="container">
		<div class="row">
			<div class="col s6">
				<div class="card">
					<div class="card-image">
						<img src="images/fabia.jpg" class="circle responsive-img p-5">
					</div>
					<div class="card-content center">
						<h6>Rhealyn Fabia</h6>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="card">
					<div class="card-image">
						<img src="images/guingab.jpg" class="circle responsive-img p-5">
					</div>
					<div class="card-content center">
						<h6>Jeric Guingab</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<div class="card">
					<div class="card-image">
						<img src="images/quilang.jpg" class="circle responsive-img p-5">
					</div>
					<div class="card-content center">
						<h6>Daisy Quilang</h6>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="card">
					<div class="card-image">
						<img src="images/tuliao.jpg" class="circle responsive-img p-5">
					</div>
					<div class="card-content center">
						<h6>Ruena Tuliao</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card center p-3">
					<h6>BSCS – S.Y. 2018-2019</h6>
				</div>
			</div>
		</div>
	</div>
</div>