<div class="profile-panel hide">
	<div class="container">
		<h4>Edit Account</h4>
		<div class="row">
			<form id="form_profile" method="POST" class="col s12">
				<input type="hidden" id="account_id" name="account_id">
				<div class="row">
					<div class="input-field col s12">
						<input id="firstname" name="firstname" type="text" autocomplete="off">
						<label for="firstname">Firstname</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="lastname" name="lastname" type="text" autocomplete="off">
						<label for="lastname">Lastname</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="username" name="username" type="text" autocomplete="off">
						<label for="username">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" name="password" type="password">
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="confirm_password" type="password">
						<label for="confirm_password">Confirm Password</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-light w-100">Update Account</button>
					</div>
				</div>
			</form>
			<div class="col s12">
				<div class="row">
					<div class="col s12">
						<button id="back_to_home" class="btn waves-effect waves-light w-100">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>