<div id="add_evacuation_panel" class="profile-panel hide">
	<div class="container">
		<h4>Add Evacuation</h4>
		<div class="row">
			<form id="form_add_evacuation" method="POST" class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input id="evacuation_name" name="evacuation_name" type="text" autocomplete="off">
						<label for="evacuation_name">Evacuation Name</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-light w-100">Save Evacuation</button>
					</div>
				</div>
			</form>
			<div class="col s12">
				<div class="row">
					<div class="col s12">
						<button id="cancel_add_evacuation" class="btn waves-effect waves-light w-100">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>