<div id="dest-evac" class="container white">
	<div class="row mb-0">
		<div class="col s6 center">
			<p>
				<label>
					<input name="dest-evac" type="radio" value="destination" />
					<span>Destination</span>
				</label>
			</p>
		</div>
		<div class="col s6 center">
			<p>
				<label>
					<input name="dest-evac" type="radio" value="evacuation" />
					<span>Evacuation Sites</span>
				</label>
			</p>
		</div>
	</div>
	<div id="dest-evac-search">
		<div class="col s12">
			<input id="destination_input" class="mb-0 hide" placeholder="Search Destination" type="text" autocomplete="off">
			<select>
				
			</select>
		</div>
	</div>
</div>