<div class="unpin-panel mt-5 ml-3 hide">
	<div class="container center">
		<button id="" type="button" class="unpin_button btn waves-effect waves-light w-100">Unpin</button>
	</div>
</div>
<div class="pinning-color-panel mt-5 mr-3 hide">
	<div class="container center">
		<h5>Traffic Status</h5>
		<div id="pin-heavy" class="pin-label">
			<div class="row valign-wrapper mb-0">
				<div class="col s6">
					<div class="pin-color red"></div>
				</div>
				<div class="col s6">
					<h6>Heavy</h6>
				</div>
			</div>
		</div>
		<div id="pin-moderate" class="pin-label">
			<div class="row valign-wrapper mb-0">
				<div class="col s6">
					<div class="pin-color yellow"></div>
				</div>
				<div class="col s6">
					<h6>Moderate</h6>
				</div>
			</div>
		</div>
		<div id="pin-light" class="pin-label">
			<div class="row valign-wrapper mb-0">
				<div class="col s6">
					<div class="pin-color green"></div>
				</div>
				<div class="col s6">
					<h6>Light</h6>
				</div>
			</div>
		</div>
		<h5>Road Status</h5>
		<div id="pin-passable" class="pin-label">
			<div class="row valign-wrapper mb-0">
				<div class="col s6">
					<div class="pin-color blue"></div>
				</div>
				<div class="col s6">
					<h6>Passable</h6>
				</div>
			</div>
		</div>
		<div id="pin-flooding" class="pin-label">
			<div class="row valign-wrapper mb-0">
				<div class="col s6">
					<div class="pin-color brown"></div>
				</div>
				<div class="col s6">
					<h6>Flooding</h6>
				</div>
			</div>
		</div>
		<div id="pin-under-construction" class="pin-label">
			<div class="row valign-wrapper mb-0">
				<div class="col s6">
					<div class="pin-color deep-orange"></div>
				</div>
				<div class="col s6">
					<h6>Under Construction</h6>
				</div>
			</div>
		</div>
		<div id="pin-road-crash" class="pin-label">
			<div class="row valign-wrapper mb-0">
				<div class="col s6">
					<div class="pin-color grey"></div>
				</div>
				<div class="col s6">
					<h6>Road Crash</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pinning-panel mb-5 hide">
	<div class="container">
		<button id="add_pin" class="btn blue waves-effect waves-light w-100">Add Pin</button>
		<div class="row hide">
			<div class="col s4">
				<button id="submit_pin" class="btn blue waves-effect waves-light w-100 hide">Submit</button>
				<button id="ok_pin" class="btn blue waves-effect waves-light w-100">OK</button>
			</div>
			<div class="col s4">
				<button id="undo_pin" class="btn blue waves-effect waves-light w-100">Undo</button>
			</div>
			<div class="col s4">
				<button id="cancel_pinning" class="btn blue waves-effect waves-light w-100">Cancel</button>
			</div>
		</div>
	</div>
</div>