<div class="menu-panel z-depth-3 mr-3 hide white">
	<div class="container center">
		<div>
			<h5 id="user_name"></h5>
		</div>
		<div class="divider"></div>
		<div>
			<a id="manage_evacuations"><h5>Evacuations</h5></a>
		</div>
		<div>
			<a id="logout"><h5>Logout</h5></a>
		</div>
	</div>
</div>

<div id="home" class="col s12">
</div>

<div id="accounts" class="col s12 overlay-panel hide">
	<div class="container mt-5">
		<div class="row">
			<div class="col s6">
				<input id="search_account" class="mb-0" placeholder="Search Account" type="text" autocomplete="off">
			</div>
			<div class="col s6">
				<button id="add_account_button" class="btn blue waves-effect waves-effect right">Add Account</button>
			</div>
		</div>
		<table class="striped centered">
			<thead>
				<tr>
					<th>Username</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Role</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
</div>

<div id="pins" class="col s12 overlay-panel hide">
	<div class="container mt-5">
		<table class="striped centered">
			<thead>
				<tr>
					<th>Pinned by</th>
					<th>Location</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
</div>